%dl.team_member.clearfix
  %dt
    = image_tag member.photo.photo(:small)
  %dd
    %h3
      = member.name

    %h4= member.position

    .contact_info
      - %w[email cell_phone office_phone twitter facebook].each do |i|
        - if member.send(i).present?
          .row
            .label= i.humanize
            .value= member.send(i)

    %p
      - if controller.action_name == 'show'
        = sanitize member.bio, :tags => allowable_html, :attributes => %w(href)
      - else
        = sanitize member.bio.truncate(225), :tags => allowable_html, :attributes => %w(href)

    - unless controller.action_name == 'show'
      = link_to "Read More", team_engine.member_path(member), :class => :button

    - if can?(:edit, Team::Member)
      = link_to 'Edit Profile', edit_member_path(member), :class => :button

