!!!
%html
%head
  %title Cri
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if lt IE 8]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
%body
  -#= yield
  #main
    %header this is the header
    %nav this is the navigation
    %section#left Left
    %section#middle Middle
    %section#right Right
  %footer#footer
    Footer content goes here.
