!!!
%html
%head
  %title Cri
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if lt IE 8]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
%body
  -#= yield
	.example
	  #layout
	    #header
	      %h1 Sticky Footer Example
 
	    %p
	      This is the main content area.
	    %p
	      In this example you should pretend that the red box
	      is actually the browser window.
	    %p
	      Because, being a contrived example, it's not actually sticking
	      to the bottom of the page.
	    #layout_footer
	  #footer
	    This is the footer area.