!!!
%html
%head
  %title CRI
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if lt IE 8]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
%body
  #main.container
    %header this is the header
    %nav this is the navigation
    %section#left.span-8 Left
    %section#middle.span-8= yield
    %section#right.span-8.last Right
  %footer#footer
    %div.container
      Footer content goes here.
